* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100svh * VARIABLENWERT); /* z. B. JS oder hardcoded */
}

/* MOBILE FIRST */

#gallery {
  scroll-snap-type: y mandatory;
}

.slide {
  height: 100vh;
  scroll-snap-align: start;
}

.slide {
  position: fixed;
  inset: 0;
  height: 100svh; /* NICHT 100vh */
  width: 100vw;
}

/* DESKTOP */

@media (min-width: 768px) {
  body {
    height: 300vh;
  }

  #gallery {
    position: fixed;
    inset: 0;
    scroll-snap-type: none;
  }

  .slide {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
}
